* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  background-color: white;
}
